<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめの香りは…</p>
</div>
<div class="post-container">
<div class="post">
    <% if @perfume.question == "111" %>
    <h6>Higuma Doughnuts × Cofee Wrights 表参道</h6>
    <p>温かい雰囲気のドーナツ屋さん</p>
 
    <% elsif @perfume.question == "112" %>
    <h6>haydEn</h6>
    <p>ワッフルの美味しい隠れ家カフェ</p>
   
    <% elsif @perfume.question == "121" %>
    <h6>HEARTH SMOKED</h6>
    <p>絶品パンケーキが味わえる駅近カフェ</p>

    <% elsif @perfume.question == "122" %>
    <h6>BE:SIDE 表参道</h6>
    <p>表参道の少し奥にある和カフェ</p>

    <% elsif @perfume.question == "211" %>
    <h6>アパルトマン301</h6>
    <p>雰囲気抜群の新宿カフェ</p>

    <% elsif @perfume.question == "212" %>
    <h6>旅する喫茶</h6>
    <p>カレーとクリームソーダ専門の喫茶店</p>

    <% elsif @perfume.question == "221" %>
    <h6></h6>
    <p></p>

    <% elsif @perfume.question == "222" %>
    <h6>green bean to bar chocolate 中目黒店</h6>
    <p>絶品チョコレートスイーツ専門店</p>

    <% elsif @perfume.question == "311" %>
    <h6>ONIBUS COFEE 中目黒</h6>
    <p>駅近のエモいカフェ</p>

    <% elsif @perfume.question == "312" %>
    <h6>Podium cafe</h6>
    <p>中目黒の穴場カフェ</p>

    <% elsif @perfume.question == "321" %>
    <h6>Factory&Labo 神乃珈琲</h6>
    <p>開放感のある雰囲気抜群のカフェ</p>

    <% elsif @perfume.question == "322" %>
    <h6>Pangea Cafe&Bar</h6>
    <p>幅広く使える穴場カフェ</p>

    <% end %>

    </div>








    



    

