.intoro{
    text-align: center;
    margin: 5%;
    font-family: 'Yusei Magic', sans-serif;
}




.result{
    display: table;
    margin: 10% auto;
    font-family: 'Yusei Magic', sans-serif;
    
}

.result h6{
    font-size: 200%;
}

.result p{
    font-size: 150%;
    margin-top: 5%;
}